[submodule "dependencies/ZArchive"]
	path = dependencies/ZArchive
	url = https://github.com/Exzap/ZArchive
	shallow = true
[submodule "dependencies/cubeb"]
	path = dependencies/cubeb
	url = https://github.com/mozilla/cubeb
	shallow = true
[submodule "dependencies/vcpkg"]
	path = dependencies/vcpkg
	url = https://github.com/microsoft/vcpkg
	shallow = true
[submodule "dependencies/Vulkan-Headers"]
	path = dependencies/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
	shallow = true
[submodule "dependencies/imgui"]
	path = dependencies/imgui
	url = https://github.com/ocornut/imgui
	shallow = true
[submodule "dependencies/xess"]
	path = dependencies/xess
	url = https://github.com/intel/xess
	shallow = true
[submodule "dependencies/FidelityFX-FSR"]
	path = dependencies/FidelityFX-FSR
	url = https://github.com/GPUOpen-Effects/FidelityFX-FSR
	shallow = true
[submodule "dependencies/FidelityFX-FSR2"]
	path = dependencies/FidelityFX-FSR2
	url = https://github.com/GPUOpen-Effects/FidelityFX-FSR2
	shallow = true	
[submodule "dependencies/FidelityFX-FSR3"]
	path = dependencies/FidelityFX-FSR3
	url = https://github.com/AzagraMac/FidelityFX-SDK-FSR3
	shallow = true
[submodule "VulkanMemoryAllocator"]
	path = externals/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
	shallow = true
	


